/* Body styles */

html {
	height: 150%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	color: #ff9900;
	font-family: Arial, sans-serif;
	background-image: linear-gradient(to top, #00000000, #ffb14b23, #e0baff 70%, #ffb4533e);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	z-index: 1;
}

body::before {
	background-color: #00bbff23;
	background-image: radial-gradient(#ffae00 10%, transparent 11%);
	background-size: 5px 5px;
	background-position: 0 0, 30px 30px;
	background-repeat: repeat;
	z-index: -1;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

body::after {
	background-image: radial-gradient(#624d212c 1%, transparent 80%);
	background-size: cover;
	background-position: top-left;
	background-repeat: no-repeat;
	z-index: -1;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* Header styles */
header {
	padding: 20px;
}

header h1 {
	font-size: 36px;
}

/* HR element */
hr {
	width: 100%;
	color: rgba(255, 183, 0, 0.368);
	box-shadow: 0 0 8px rgba(0, 255, 0, 0.1);
	visibility: hidden;
}

/* Navigation styles */
nav {
	background-color: #000;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

nav ul li a:hover {
	color: #00ff00;
}

/* Main content styles */
main {
	padding: 20px;
}

/* Article styles */
article {
	margin-bottom: 20px;
}

article h2 {
	font-size: 24px;
}

article p {
	line-height: 1.5;
}

/* Footer styles */
footer {
	background-color: #000;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

/* Force images to be smaller than Viewport */
img {
	max-width: 90%;
	max-height: 100%;
}

.button,
button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #0e2a3dbe;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s;
}

.button b,
button b {
	display: inline-block;
	vertical-align: middle;
	background-color: #300038;
	background-image: linear-gradient(90deg, #ff0000, #fffab5, #00ff2a, #00bfff, #5500ff);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.button:hover,
button:hover {
	background-color: rgba(24, 33, 86, 0.733);
}

.button:active,
button:active {
	background-color: #0e203dd6;
}

.button img,
button img,
.img {
	width: 35;
	height: 35;
}

a {
	text-decoration: none;
}

.hidden {
	overflow: hidden;
	visibility: hidden;
}

.header {
    color: rgb(255, 196, 0);
	background-color: #584c0076;
	background-image: radial-gradient(#ffe10045 10%, transparent 11%);
	background-size: 5px 5px;
	background-position: 0 0, 30px 30px;
	background-repeat: repeat;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #ffbf00;
	margin-top: 5px;
	width: auto;
	box-shadow: 0 2px 4px rgba(255, 221, 0, 0.3);
    margin-left: 15px;
    margin-right: 15px;
}

.header>* {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header>*:first-child {
    padding-left: 10px;
}

.header>*:last-child {
    float: right;
    padding-right: 10px;
}

.header div {
    display: inline-block;
    margin-left: 5px;
}

.header div a {
    display: inline-block;
	padding: 5px 5px;
	font-size: 16px;
	color: #ffdd00;
	background-color: #3b3d0ebe;
	border: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s;
}

.header div a:hover {
    background-color: rgba(86, 85, 24, 0.733);
}

.header div a:active {
    background-color: #3d3b0ed6;
}

.no-highlight, .no-highlight:hover, .no-highlight:active {
	background-color: #00000000;
}

.header div>a:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.header div>a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.content {
    color: #b43aff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 5px;
	margin-top: 35px;
}

.header img {
	display: inline-block;
	vertical-align: middle;
}

.content img {
	display: inline-block;
	vertical-align: middle;
}

.content div {
	display: block;
	margin-left: 10px;
	background-image: radial-gradient(#ec81ff83 1%, transparent 70%);
	background-size: auto 100%;
	padding-left: 10px;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	max-width: 40%;
	border-left: 1px solid #b43aff;
	box-shadow: -5px 0 5px -5px rgba(251, 0, 255, 0.5);
}

.content a {
	color: #856cff;
	background-color: #00000000;
	transition: background-color 0.3s;

	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
}

.content a:hover {
	background-color: #a961e171;
}

.content a:active {
	background-color: #39166370;
}

.footer {
    bottom: 0;
	position:fixed;

    /* Styling for the element */
    width: 100%;
    background-image: linear-gradient(#ba97ffb9, #ffffff);
	margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-image: linear-gradient(90deg, #00000000, #ff00ff, #00000000) 30;

    color: #a600ff;
}

.footer a {
	color: #856cff;
	background-color: #00000000;
	transition: background-color 0.3s;

	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
}

.footer a:hover {
	background-color: #aa5ae671;
}

.footer a:active {
	background-color: #39166370;
}

.footer a i {
    display: inline-block;
	vertical-align: middle;
	background-image: linear-gradient(90deg, #00bfff6b, #5500ff77);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.embeds {
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
	max-width: 70%;
	max-height: 35px;
    border: none;
}

.darkweb i {
    color: #c37eff;
}
